.login{
	background-image: url(/addons/plugins/ui/override/img/background.png);
	background-repeat: repeat-x;
	background-position-y: 330px;
	background-position: 0 330px;
	background-color: #F8F8F8;
	
}
#login #hd {
	text-align: center;
	padding: 0;
}
#login #hd img {
	width: 275px;
}
#login .topbar {
	background-color: transparent;
}
#login .bd {
	background-color: transparent;
}

#login .bd form {
	border: none;
	padding-top: 10px; 
}
#login .bd form label {
	font-size: 12px;
	margin-top:6px;
	color: #999999;
}
#login .bd form input {
	background-color: #EAEAEA;
	border: none;
	color: #999999;
}
#login .bd form input.text {
	padding:4px;
}


.footer {
	background-color: transparent;
}
.footer .reset a:hover {
	color: #999999;
}

#logo img {
	width: 235px;
}